@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

h2,
h3,
p {
    font-family: 'Roboto Mono', monospace;
}

h1,
h2 {
    text-transform: uppercase;
}

h2,
h3 {
    font-size: 20px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
}

p {
    font-size: 16px;
    font-weight: 300;
}

/* style scroll-bar */
@layer {
    ::-webkit-scrollbar {
        @apply w-[5px]
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-primary rounded-[5px]
    }
    ::-webkit-scrollbar-thumb:hover {
        @apply cursor-pointer
    }
}

/* style cursor */
@layer {
    body {
        @apply cursor-fancy
    }
}

@layer {
    .gridFilter {
        @apply flex flex-col items-center gap-[30px]
    }
}


@media (width >= 576px) {
    @layer {
        .gridFilter {
            @apply flex-row flex-wrap justify-center py-0 px-[30px]
        }
    }
}
@layer {
    .btnTab {
        @apply px-2 py-1 text-[14px]
    }
}